<div id="signup" class="container col-xxl-4" style="background-color: black; padding: 20px; border-radius: 10px;">
  <h1 class="text-center mt-5 mb-4" style="color: white;">User Register</h1>
  <form class="container-sm mx-auto" style="max-width: 400px;" action="/register" method="POST">
    <div class="mb-3">
      <label for="username" style="color: #3498DB;" class="form-label">User Name</label>
      <input type="text" name="username" class="form-control {{#if errors.username}}is-invalid{{/if}}"
        placeholder="Name" aria-label="User name" value="{{ user.username }}">
      {{#if errors.username}}<div class="invalid-feedback">{{ errors.username }}</div>{{/if}}
    </div>
    <div class="mb-3">
      <label for="email" style="color: #3498DB;" class="form-label">Email</label>
      <input type="text" name="email" class="form-control {{#if errors.email}}is-invalid{{/if}}"
        placeholder="Email: user@example.org" aria-label="User email" value="{{ user.email }}" required>
      {{#if errors.email}}<div class="invalid-feedback">{{ errors.email }}</div>{{/if}}
    </div>
    <div class="mb-3">
      <label for="password" style="color: #3498DB;" class="form-label">Password</label>
      <input type="password" name="password" class="form-control {{#if errors.password}}is-invalid{{/if}}"
        placeholder="Password" aria-label="User password" required>
      {{#if errors.password}}<div class="invalid-feedback">{{ errors.password }}</div>{{/if}}
    </div>
    <div class="d-grid gap-2">
      <button type="submit" class="btn btn-primary">Register</button>
      <a class="btn btn-light text-dark" href="/auth/google">Sign in with <img src="/images/google-icon.png"
          class="mb-1" width="25"></img>oogle</a>
    </div>
  </form>
</div>