<div class="col">
  <div class="card h-100">

    <div class="card-body d-flex flex-column justify-content-between">
      <div>
        <a href="/riders/{{rider.id}}" class="link-opacity-50-hover"><img class="card-img" src={{rider.image}} /></a>
        <h5 class="card-title">{{rider.name}}</h5>
        <p class="card-text"><b>From:</b> {{rider.nationality}}</p>
      </div>
      <div>
        <form action="/user/{{rider._id}}/like" method="POST">
          <button type="submit"
            class="btn  {{#riderIsLikedByUser likes=rider.likes userId=currentUser._id}} btn-danger {{else}} btn-secondary {{/riderIsLikedByUser}}">Likes
            {{rider.likes.length}}</button>
        </form>
      </div>


    </div>
  </div>
</div>