<div>
  <div class="card h-100 {{#if rider.legend}}bg-warning{{else}} bg-secondary{{/if}}">
    <div class="card-body f-flex aling-item-colum ">
      <div class="container-xxl">
        <div>
          <a href="/riders/{{rider.id}}" class="link-opacity-50-hover"><img class="card-img" height="300" width="500"
              src={{rider.image}} /></a>
        </div>
        <div class="cardText mb-1">
          <h5 class="card-title"><img width="25" src={{rider.flag}} /> {{rider.name}}</h5>
          {{#if currentUser}}
          <div class="d-flex justify-content-end">
            <form action="/user/{{rider._id}}/like" method="POST">
              <button type="submit"
                class="btn  {{#riderIsLikedByUser likes=rider.likes userId=currentUser._id}} btn-danger {{else}} btn-info {{/riderIsLikedByUser}}">Likes
                {{rider.likes.length}}</button>
            </form>
          </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
</div>