<div class="container  d-flex flex-column justify-content-center mt-2">
  <div class="col-12 d-flex justify-content-start">

    <div>
      <h1 class="bg-light mt-3 d-flex justify-content-center">{{rider.name}} <img src="{{rider.flag}}" class="card-flag"
          alt="{{rider.name}}" width="35px" height="25px" /></h1>
      <img src="{{rider.image}}" class="img-thumbnail" alt="{{rider.name}}" width="450" />
    </div>
    <div class="ms-5 mt-5">

      <table class="custom-table table table-hover table-dark">

        <tbody>
          <h3 class=" d-flex justify-content-center bg-dark text-white">DETAILS</h3>
          <tr>
            <td>
              <p> <b>From</b>: {{rider.nationality}} </p>
            </td>
            {{#if rider.bike}}
            <td>
              <p> <b>Bike:</b> {{rider.bike}} </p>
            </td>
            {{/if}}

          </tr>
          <tr>
            <td>
              <p> <b>Place Of Birth:</b> {{rider.placeOfBirth}} </p>
            </td>
            <td>
              <p> <b>Date Of Birth:</b> {{rider.dateOfBirth}} </p>

            </td>
          </tr>
          <tr>
            <td>
              {{#if rider.height}}
              <p> <b>Height:</b> {{rider.height}} </p>
              {{/if}}

              <p> <b>World Championship:</b> {{rider.worldChampionship}} </p>
              <p> <b>Races:</b> {{rider.races}} </p>
            </td>
            <td>
              <p> <b>Victories:</b> {{rider.victories}} </p>
              <p> <b>Podiums:</b> {{rider.podiums}} </p>
              <p> <b>Poles:</b> {{rider.poles}} </p>
            </td>
          </tr>
        </tbody>
      </table>
      <div>
        {{#if rider.merchandising}}
        <div class="me-4">
          <a class="custom-btn" target="_blank" href="{{rider.merchandising}}">Merchandising</a></p>
        </div>
        {{/if}}
        <div>
          <button class="custom-btn" width="100"
            onclick="window.location.href='/riders/{{rider._id}}/gallery'">Gallery</button>
        </div>
      </div>
    </div>
    <div>
      <div>
        {{#if currentUser.isAdmin}}
        <a class="btn btn-success" href="/riders/{{rider._id}}/update" style="width: fit-content;"><i
            data-feather="edit"></i></a>
        <a class="btn btn-danger" href="/riders/{{rider._id}}/delete" style="width: fit-content;"><i
            data-feather="trash-2"></i></a>
        {{/if}}
        <a class="btn btn-secondary" href="/riders" style="width: fit-content;"><i data-feather="riders"></i></a>
      </div>


    </div>

  </div>

  <div class="d-flex mt-3">
    <div class="me-4">
      <details>
        <summary class="custom-btn">Story:</summary>
        <p>{{rider.story}}</p>
      </details>
    </div>
    {{!-- {{#if rider.merchandising}}
    <div class="me-4">
      <a class="custom-btn" target="_blank" href="{{rider.merchandising}}">Merchandising</a></p>
    </div>
    {{/if}}
    <div>
      <button class="custom-btn" width="100"
        onclick="window.location.href='/riders/{{rider._id}}/gallery'">Gallery</button>
    </div> --}}
  </div>



  {{!-- AQUI VAN LOS BOTONES DE EDITAR, BORRAR --}}

  {{!-- <div>
    {{#if currentUser.isAdmin}}
    <a class="btn btn-success" href="/riders/{{rider._id}}/update" style="width: fit-content;"><i
        data-feather="edit"></i></a>
    <a class="btn btn-danger" href="/riders/{{rider._id}}/delete" style="width: fit-content;"><i
        data-feather="trash-2"></i></a>
    {{/if}}
    <a class="btn btn-secondary" href="/riders" style="width: fit-content;"><i data-feather="riders"></i></a>
  </div>
  --}}


  <div class="col-12">
    <h2>Comments</h2>
    {{#each rider.comments}}
    <div class="card my-2">
      <div class="card-body">
        <p class="card-text">{{this.content}}</p>
      </div>
      <div class="card-footer d-flex justify-content-between">
        <small class="text-body-secondary">Post by {{this.user.username}}</small>
        <a class="btn btn-danger" href="/comments/{{this._id}}/delete" style="width: fit-content;"><i
            data-feather="trash-2" width="16" style="color: red;"></i></a>
      </div>

    </div>
    {{/each}}
    <form action="/comments/{{rider._id}}/create" method="POST">
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <textarea class="form-control" name="content" id="comment" rows="3" required></textarea>
      </div>
      <button type="submit" class="btn btn-success">Comment</button>
    </form>

  </div>