<div class="container mt-2">
  <div class="row">
    <div class="col-lg-12 d-flex justify-content-start col-sm-3 ">

      <div class="bg-secondary mt-4">
        <h1 class="d-flex justify-content-center">{{rider.name}} <img class="mt-3 ms-3" src="{{rider.flag}}"
            class="card-flag" alt="{{rider.flag}}" width="35px" height="25px" /></h1>
        <img src="{{rider.image}}" class="img-thumbnail" alt="{{rider.name}}" width="450" />
      </div>
      <div class="ms-5 mt-5 flex-column">

        <table class="custom-table table table-hover table-dark">

          <tbody>
            <h3 class=" d-flex justify-content-center bg-dark text-white">DETAILS</h3>
            <tr>
              <td>
                <p> <b>From</b>: {{rider.nationality}} </p>
              </td>
              <td>
                <p> <b>Victories:</b> {{rider.victories}} </p>
              </td>
            </tr>
            <tr>
              <td>
                <p> <b>Place Of Birth:</b> {{rider.placeOfBirth}} </p>
              </td>
              <td>
                <p> <b>Date Of Birth:</b> {{rider.dateOfBirth}} </p>

              </td>
            </tr>
            <tr>
              <td>
                {{#if rider.height}}
                <p> <b>Height:</b> {{rider.height}} </p>
                {{/if}}

                <p> <b>World Championship:</b> {{rider.worldChampionship}} </p>
                <p> <b>Races:</b> {{rider.races}} </p>
              </td>
              <td>
                {{#if rider.bike}}

                <p> <b>Bike:</b> {{rider.bike}} </p>

                {{/if}}
                <p> <b>Podiums:</b> {{rider.podiums}} </p>
                <p> <b>Poles:</b> {{rider.poles}} </p>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="btn-group" role="group" aria-label="Basic example">
          {{#if currentUser.isAdmin}}
          <a class="btn btn-success rounded-circle" href="/riders/{{rider._id}}/update" style="width: fit-content;"><i
              data-feather="edit-3"></i></a>
          <a class="btn btn-danger rounded-circle" href="/riders/{{rider._id}}/delete" style="width: fit-content;"><i
              data-feather="trash-2"></i></a>
          {{/if}}

          <a class="btn custom-btn rounded-circle" onclick="window.location.href='/riders/{{rider._id}}/gallery'"><i
              data-feather="image"></i></a>
          {{#if rider.merchandising}}
          <div class="mt-2">
            <a class="custom-btn rounded-circle" target="_blank" href="{{rider.merchandising}}"><i
                data-feather="shopping-cart"></i></a>
          </div>
          {{/if}}
          {{#if rider.legend}}
          <a class="btn btn-secondary rounded-circle" href="/riders?legend=true" style="width: fit-content;"><i
              data-feather="corner-down-left"></i></a>
          {{else}}


          <a class="btn btn-secondary rounded-circle" href="/riders" style="width: fit-content;"><i
              data-feather="corner-down-left"></i></a>
          {{/if}}
        </div>
      </div>
    </div>

    <div class="d-flex mt-3">
      <div class="me-4 bg-white p-3 rounded">
        <details>
          <summary class="btn btn-info rounded-circle"><i data-feather="book-open"></i></summary>
          <p>{{rider.story}}</p>
        </details>
      </div>
    </div>


    <div class="col-12">
      <h2>Comments</h2>
      {{#each rider.comments}}
      <div class="card my-2">
        <div class="card-body">
          <p class="card-text">{{this.content}}</p>
        </div>
        <div class="card-footer d-flex justify-content-between">
          <small class="text-body-secondary">Post by {{this.user.username}}</small>
          <a class="btn btn-danger" href="/comments/{{this._id}}/delete" style="width: fit-content;"><i
              data-feather="trash-2" width="16" style="color: white;"></i></a>
        </div>

      </div>
      {{/each}}
      <form action="/comments/{{rider._id}}/create" method="POST">
        <div class="mb-3">
          <label for="comment" class="form-label">Comment</label>
          <textarea class="form-control" name="content" id="comment" rows="3" required></textarea>
        </div>

        <button type="submit" class="btn btn-success "><i data-feather="message-square" width="16"
            style="color: white;"></i></button>

      </form>
    </div>
  </div>